@model Lws.Domain.Sensor
@{
    ViewBag.Title = "_Map";
}
<div class="row">
    <div id="map"></div>
</div>
<script>

      function initMap() {
        var myLatLng = {lat: @Model.Latitude, lng: @Model.Longitude};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 15
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Hello World!'
        });
      }
       
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDn8L33l42rxnZVIoetDX9szbkoXckKQZY&callback=initMap"
        async defer></script>